appdirs==1.4.4
apt-xapian-index==0.49
attrs==23.1.0
bleach==6.0.0
blinker==1.4
build==0.10.0
cairocffi==1.6.1
CairoSVG==2.5.2
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
cryptography==3.4.8
cssselect2==0.7.0
cupshelpers==1.0
dbus-python==1.2.18
defusedxml==0.7.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
docutils==0.20
enum34==1.1.10
exceptiongroup==1.1.1
fuse-python==1.0.2
gpg==1.16.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
iniconfig==2.0.0
jeepney==0.7.1
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.9.3
markdown-it-py==2.2.0
mdurl==0.1.2
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
packaging==23.1
pexpect==4.8.0
Pillow==9.3.0
pkginfo==1.9.6
pluggy==1.0.0
psutil==5.9.0
ptyprocess==0.7.0
pybind11==2.9.1
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pyglet==1.5.27
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.3.0
pylibacl==0.6.0
pymunk==6.4.0
pyparsing==2.4.7
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyserial==3.5
pytest==7.3.1
python-apt==2.4.0+ubuntu2
python-debian==0.1.43+ubuntu1.1
pytiled-parser==2.2.0
pyxattr==0.7.2
PyYAML==5.4.1
readme-renderer==37.3
reportlab==3.6.8
requests==2.30.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
SecretStorage==3.3.1
six==1.16.0
systemd-python==234
terminator==2.1.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.1
twine==4.0.2
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.2
usb-creator==0.3.7
vboxapi==1.0
wadllib==1.3.6
webencodings==0.5.1
wxPython==4.2.1
xkit==0.0.0
zipp==1.0.0
