<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News API</title>
</head>
<body>
    <div>
        
        <h1>Hacker News API</h1>
        <h2>Programmed by Alex Dasneves</h2>
    </div>

    <hr>

    <button onclick="window.location.href='/getData'">Get Data</button> <br>
    <button onclick="window.location.href='/view'">View Data</button>
</body>

<style> 
    button{
        width: 100%;
        height: 30vh;
        margin-top: 3vh;
        font-size: 30px;
        background-color: #b63e3e;

        
    }

    button:hover{
       background: #CF6060
    }
      
      
</style>

</html>