<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread {{ TID }}</title>
    {% if TSTAT == "Done" %}
      <meta http-equiv="refresh" content="1; /">
    {% else %}
      <meta http-equiv="refresh" content="1">
    {% endif %}

  </head>
  <body>
    <h1>Thread ID: {{ TID }}</h1>
    <h2>Current Status:</h2>
    <h3>{{ TSTAT }}</h3>
  </body>
</html>