<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Comment ID</th>
        <th>Post ID</th>
        <th>Company Name</th>
        <th>Location</th>
        <th colspan="2">Salary</th>
        <th>Comment Text</th>
      </tr>
      {% for row in data %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
  <style>
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid;
    }
  </style>
</html>